---
import { Image } from 'astro:assets';
import ManosConCafe from '../assets/nosotros/manos-con-cafe.png';
interface Props {
  bgColor: string;
  textColor: string;
}

const { bgColor, textColor } = Astro.props;
---

<div
  id="nosotros-card-3"
  class="mx-4 pt-10 pb-0 rounded-xl mb-6"
  style={{ backgroundColor: `${bgColor}` }}
>
  <h3
    class="uppercase mb-6 font-bold text-2xl px-8 text-center"
    style={{ color: `${textColor}` }}
  >
    Con cada taza
  </h3>
  <p class="text-lg px-8 text-center" style={{ color: `${textColor}` }}>
    de café Yellow Coffee, estas contribuyendo a un proceso ambiental y social
    <div class="w-full">
      <Image
        class="-mt-40 w-full"
        src={ManosConCafe}
        alt={'Imagen de unas manos con una taza de café'}
      />
    </div>
  </p>
</div>
