---
import { Image } from 'astro:assets';
import Facebook from '../assets/components/footer/facebook.svg';
import Instagram from '../assets/components/footer/instagram.svg';
import Whatsapp from '../assets/components/footer/whatsapp.svg';
import Logo from '../assets/desktop/footer/Logo yellow y línea.png';
---

<footer class="w-full bg-[#62C6D1] py-10">
  <div>
    <h3 class="uppercase text-white my-8 px-20">Yellow Coffee</h3>
  </div>
  <div class="px-20 flex justify-between items-center gap-10 xl:gap-44">
    <div class="text-white flex flex-1 gap-8 pb-24">
      <ul class="uppercase">
        <h4 class="font-bold">Compañia</h4>
        <li>Acerca de nosotros</li>
        <li>Contáctanos</li>
        <li>Accesorios</li>
      </ul>
      <ul>
        <h4>Yellow Coffee</h4>
        <li class="uppercase">Drip</li>
        <li>340 gr</li>
        <li class="uppercase">Microlotes</li>
        <li>2500 gr</li>
      </ul>
      <ul>
        <h4 class="uppercase">Mush Coffee</h4>
        <li class="uppercase">Drip</li>
        <li>40 gr</li>
        <li>125 gr</li>
        <li>340 gr</li>
      </ul>
    </div>
    <div class="-mt-16">
      <div class="w-10/12">
        <Image src={Logo} alt={'Imagen del logo'} class="w-full" />
      </div>
      <div class="flex justify-around mt-3 mb-6">
        <Image src={Instagram} alt={'Imagen del logo de instagram'} />
        <Image src={Whatsapp} alt={'Imagen del logo de whatsapp'} />
        <Image src={Facebook} alt={'Imagen del logo de facebook'} />
      </div>
    </div>
  </div>
  <div class="separador"></div>
  <div class="pt-10 text-white px-8 flex justify-between opacity-70">
    <p class="capitalize">Diseñado por exportsflavor.co</p>
    <p class="uppercase">Yellow Coffee S.A.S</p>
  </div>
</footer>

<style>
  .separador {
    height: 2px;
    width: 100%;
    background-color: white;
  }
</style>
