---

---

<div class="flex mt-6 mb-16 gap-8 justify-center items-center flex-wrap">
  <div class="bg-brain flex flex-col mx-3 px-8 py-8 w-[300px] h-[280px] -mt-12">
    <h4 class="uppercase font-bold">
      Polisacáridos
      <br />
       y erinacinas
    </h4>
    <p>
      que protegen y estimulan el crecimiento de las neuronas, mejorando la
      función cerebral.
    </p>
  </div>
  <div
    class="bg-blue-hongos text-white flex flex-col mx-3 px-8 py-12 w-[300px] h-[280px]"
  >
    <h4 class="uppercase">Lion's mane.</h4>
    <p>
      Es un hongo adaptógeno y medicinal que facilita la claridad mental y
      beneficia la concentración.
    </p>
  </div>
  <div class="flex flex-col my-6 gap-8">
    <div
      class="bg-heart flex flex-col mx-3 px-8 py-8 w-[300px] h-[280px] -mt-12"
    >
      <h4 class="uppercase font-bold">Beta-glucanos</h4>
      <p>
        que fortalecen la salud digestiva, apoyan al sistema inmunológico y
        aumentan la diversidad de la microbiota intestinal.
      </p>
    </div>
  </div>
</div>

<style>
  .bg-blue-hongos {
    background-image: url('../../assets/mush-coffee/blue-hongos.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-brain {
    background-image: url('../../assets/mush-coffee/brain.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-heart {
    background-image: url('../../assets/mush-coffee/heart.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
