---
import NavBarContainer from '../components/react/NavBarContainer';
interface Props {
  title: string;
}

const { title } = Astro.props;
const linksNavegacion = ['inicio', 'productos', 'contacto'];
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Yellow coffee es una marca enfocada en expandir lo creado con amor a partir de los vínculos que tenemos desde espacios colectivos y sociales."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <NavBarContainer navBarElements={linksNavegacion} client:load />
    </header>
    <slot />
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;700&display=swap');
  html {
    scroll-behavior: smooth;
  }

  main {
    font-family: 'Albert Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }
</style>
